#currencyPlayground {
    /* background: maroon; */
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    border: 1px solid #b00707;
    border-radius: 4px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 5px;
}

input {
    padding: 10px;
}

select {
    padding: 10px;
}

button {
    padding: 10px;
}

img{
    width: 50px;
}

#imageContainer{
    border: 1px solid #120e0e5c;
    width: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 4px #0003;
}